*{margin:0; padding:0;}
img{display:block;}
a{text-decoration:none}
li{list-style:none;}
.fl{float:left;}
.fr{float:right;}
.clearFix:after{content:''; clear:both; display:block;}
.clear{zoom:1;}
.wraper{width:16rem; margin:0 auto;}
input{outline:none;}
